$rojo:#C80C0C;
$gris:#dae0e5;
$azul:#0069d9;
$blanco:#ffffff;
$negro:#000000;
$amarillo:#ffc215;

@mixin margenes($top, $right, $bottom, $left){
	margin-top: $top;
	margin-right: $right;
	margin-bottom: $bottom;
	margin-left: $left;
}


.jumbotron{
	background-image: url("../images/header/portada-hoteles.jpg");
	background-position: center;
	background-size: cover;
	@include margenes(20px,0px,20px,0px);
	color: $blanco;
	height: 500px;
}

.card-hotel{
	flex: 1 300px;
	@include margenes(20px,0px,0px,0px);	
	max-width: 362px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $gris;
	@include margenes(100px,0px,0px,0px);	
}

.footer-icon{
	padding-right: 10px;
}

.navbar{
	background-color: $rojo;
}
.titulo{
	@include margenes(80px,0px,0px,0px);	
}

.estrella{
	color: $amarillo;
}
thead{	
	background-color: $azul;
	color: white;
}


.destacado .nav-link {
     padding: 0rem 0rem;
}

.destacado .badge {
    background-color: $rojo;
    color: white;
}
.acordeon button{
    width: 100%;
    text-align: left;
}