.jumbotron {
  background-image: url("../images/header/portada-hoteles.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: #ffffff;
  height: 500px;
}

.card-hotel {
  flex: 1 300px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  max-width: 362px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #dae0e5;
  margin-top: 100px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.footer-icon {
  padding-right: 10px;
}

.navbar {
  background-color: #C80C0C;
}

.titulo {
  margin-top: 80px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.estrella {
  color: #ffc215;
}

thead {
  background-color: #0069d9;
  color: white;
}

.destacado .nav-link {
  padding: 0rem 0rem;
}

.destacado .badge {
  background-color: #C80C0C;
  color: white;
}

.acordeon button {
  width: 100%;
  text-align: left;
}

/*# sourceMappingURL=styles.css.map */
